p.text featured POSTS
.main__featured
    .main__featured-item 
        img(src=require('@/images/featured1.png'), alt="").main__featured-img
        span.main__featured-span Graphic Design
        p.main__featured-text A Brief History of the FIFA World Cup Logo
        a.main__featured-btn(href="#!") By Clem Onojeghuo 
    .main__featured-item 
        img(src=require('@/images/featured2.png'), alt="").main__featured-img
        span.main__featured-span Graphic Design
        p.main__featured-text Need a guide to LA’s graphic design scene? Shoplifters’ new issue has got your back
        a.main__featured-btn(href="#!") By Alessandra Ortiz 
    .main__featured-item 
        img(src=require('@/images/featured3.png'), alt="").main__featured-img
        span.main__featured-span Photography
        p.main__featured-text Fred Rowson directs film for Years and Years
        a.main__featured-btn(href="#!") By Coby Gottlieb 
    .main__featured-item 
        img(src=require('@/images/featured4.png'), alt="").main__featured-img
        span.main__featured-span Illustration
        p.main__featured-text M&C Saatchi and Fontsmith collaborate on font collection for House of St Barnabas
        a.main__featured-btn(href="#!") By Annie Lueilwitz