.main__japane 
    img(src=require('@/images/japane.png'), alt="").main__japane-img
    .main__japane-content
        span.main__japane-span Illustratio 
        h1.main__japane-title Japan House opens in mountainside to foster peak creativity.
        p.main__japane-text Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu. 
        a.main__japane-btn(href="#!") By Reta Torphy 