footer.footer 
    .footer__box 
        .footer__top 
            img(src=require('@/images/footer-logo.png'), alt="").footer__top-img
            span.footer__top-span © 2018 Noiceland™, all rights reserved
            hr
        .footer__middle 
            .footer__middle-text 
                h2.footer__middle-title Categories
            .footer__middle-box
                ul.footer__middle-ul 
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") Animation
                        a.footer__middle-link(href="#!") Interactive Design
                    h2.title__ul Information
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") about
                        a.footer__middle-link(href="#!") contact
                        a.footer__middle-link(href="#!") terms
                ul.footer__middle-ul 
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") Animation
                        a.footer__middle-link(href="#!") Interactive Design
                    h2.title__ul Information
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") instagram
                        a.footer__middle-link(href="#!") facebook
                        a.footer__middle-link(href="#!") twitter
                ul.footer__middle-ul 
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") Animation
                        a.footer__middle-link(href="#!") Interactive Design
                    h2.title__ul Information
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") Image License Info
                        a.footer__middle-link(href="#!") Powered by Webflow
                ul.footer__middle-ul
                    li.footer__middle-li 
                        a.footer__middle-link(href="#!") Animation
                        a.footer__middle-link(href="#!") Interactive Design
                .footer__middle-info 
                    h2.footer__middle-title Subscribe to newsletter 
                    input(placeholder= 'Email address').footer__middle-input
                    button.footer__middle-button send
                
                                                